@import "tailwindcss";

:root {
  --red: #CC0000;
  --blue: #1B4FD8;
  --font-inter: "Inter", sans-serif;
}

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { font-family: var(--font-inter); }
